@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Contrax";
  src: url("../public/fonts/conthrax-sb.otf");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/montserrat.ttf");
  font-style: normal;
} */

:root {
  --main-color: #165689;
  --second-color: #fc5200;
  --white-color: white;
  --black-color: black;
  --transparente-color: transparent;
}
